/* Background images for slides */
.slide1 { background-image: url("images (1).jpeg"); }
.slide2 { background-image: url("images (2).jpeg"); }
.slide3 { background-image: url("images (3).jpeg"); }

.slide4 { background-image: url("1620332761.webp"); }
.slide5 { background-image: url("images (4).jpeg"); }
.slide6 { background-image: url('images (5).jpeg'); }

.slide7 { background-image: url('images (6).jpeg'); }
.slide8 { background-image: url('images (7).jpeg'); }
.slide9 { background-image: url('images (8).jpeg'); }

.slide10 { background-image: url('images.png'); }
.slide11 { background-image: url('images (1).png'); }
.slide12 { background-image: url('images (2).png'); }

.slide13 { background-image: url('images (9).jpeg'); }
.slide14 { background-image: url('images (10).jpeg'); }
.slide15 { background-image: url('images (3).png'); }

.slide16 { background-image: url('images (11).jpeg'); }
.slide17 { background-image: url('images (12).jpeg'); }
.slide18 { background-image: url('images (4).png'); }

.slide19 { background-image: url('images (13).jpeg'); }
.slide20 { background-image: url('images (5).png'); }
.slide21 { background-image: url('images (6).png'); }

.slide22 { background-image: url('images (14).jpeg'); }
.slide23 { background-image: url('images (15).jpeg'); }
.slide24 { background-image: url('how-to-make-a-mind-map-for-studying.jpg'); }

.slide25 { background-image: url('images (16).jpeg'); }
.slide26 { background-image: url('images (17).jpeg'); }
.slide27 { background-image: url('images (18).jpeg'); }

.slide28 { background-image: url('images (19).jpeg'); }
.slide29 { background-image: url('images (8).png'); }
.slide30 { background-image: url('images (7).png'); }

.slide31 { background-image: url('images (20).jpeg'); }
.slide32 { background-image: url('images (21).jpeg'); }
.slide33 { background-image: url('images (9).png'); }

.slide34 { background-image: url('images (22).jpeg'); }
.slide35 { background-image: url('learning-outcomes.webp'); }
.slide36 { background-image: url('images (22).jpeg'); }
